.vscode/**
.vscode-test/**
.github/**
src/**
out/**
node_modules/**
.gitignore
.eslintrc.json
tsconfig.json
webpack.config.js
*.map
*.ts
*.vsix
.DS_Store
.linthis.toml
.linthis/**
.ruff_cache/**
PUBLISHING.md
PUBLISHING.zh.md
!dist/**
